.container{
    height: 100px;
}

.Add{
    display: flex;
    background-color: rgb(159, 105, 175);
    color: aliceblue;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-radius: 8px;
}

.Sub{
    display: flex;
    float: left;
    margin-top: -45px;
    margin-left: 80px;
    background-color: rgb(159, 105, 175);
    color: aliceblue;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-radius: 8px;
}

.Number{
    margin-left: 50px;
    margin-top: -25px;
}


.price{
    margin-top: 150px;

}