.App {
  text-align: center;
  
}

.header{
background-color: blue;
height: 9vh;
}

.header h1{
  padding-top: 20px;
  color: white;
}

h1{
  margin: 0;
}

.logo{
  float: left;
  padding-left: 50px;
}

.nav-links{
  float: right;
  display: flex;

}

.nav-links a p{ 
  color: white;
  padding-right: 600px;
  padding-top: 5px;
  font-size: 23px;
}

nav{
  float: right;
  margin-right: 200px;

}

nav ul a {
  color: wheat;
text-decoration: none;
padding-left: 30px;
padding-top: 10px;
font-size: 22px;

}


nav ul {
  display: flex;
}
